# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Infnet\infnet-js-212\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/aws.xml
