<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Loucadahora</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="valornymous">

</head>
<style>

</style>

<body>
<div id="app" class="container py-3">

  <filme-formulario :filmes="filmes"></filme-formulario>

  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col" v-for="filme in filmes">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">{{ filme.titulo }}</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>{{ filme.valor }}</li>
            <li>{{ filme.descricao }}</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Alugar</button>
        </div>
      </div>
    </div>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>

  Vue.component('filme-formulario', {
    template: `
      <div class="form my-3">
        <div class="col-12">
          <label for="Titulo" class="form-label">Titulo</label>
          <input type="text" class="form-control" id="Titulo" placeholder="Titulo" v-model="formulario.titulo">
        </div>
        <div class="col-12">
          <label for="valor" class="form-label">valor</label>
          <input type="text" class="form-control" id="valor" placeholder="valor" v-model="formulario.valor">
        </div>
        <div class="col-12">
          <label for="Descricao" class="form-label">Descricao</label>
          <input type="text" class="form-control" id="Descricao" placeholder="Descricao" v-model="formulario.descricao">
        </div>
        <button class="btn btn-success mt-3" @click="salvar">Salvar</button>
      </div>`,

    props: {
      filmes: Array
    },

    data: () => {
      return {
        formulario: {
          titulo:'',
          valor: '',
          descricao: '',
        }
      }
    },

    methods: {
      salvar(){
        this.filmes.push(this.formulario)
        this.formulario = {}
      }
    }

  })


  const app = new Vue({
    el: '#app',
    data: () => {
      return {
        filmes: [],
      }
    },
    methods: {
      carregar() {
        fetch('filmes.json').then(r => r.json()).then((dados) => {
          this.filmes = dados
        })
      },
      salvar() {
        this.filmes.push(this.formulario)
        this.formulario = {}
      }
    },
    beforeCreate() {

    },
    created() {
    },
    beforeMount() {
    },
    mounted() {
      this.carregar()
    },
  })

</script>

</body>
</html>
